<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.bookstore.dao.BookMapper">
	<select id="getAllBooks"
		resultType="com.springboot.bookstore.bean.Book">
		select * from book
	</select>

	<insert id="addBook"
		parameterType="com.springboot.bookstore.bean.Book">
		insert into
		book(name,author,press,price,discount,rdate,type)
		values(#{name},#{author},#{press},#{price},#{discount},#{rdate},#{type})
	</insert>

	<delete id="delBook" parameterType="java.lang.String">
		delete from book where name
		=#{name}
	</delete>

	<select id="selBook" parameterType="java.lang.String"
		resultType="com.springboot.bookstore.bean.Book">
		select * from book where name = #{name}
	</select>

	<update id="updBook"
		parameterType="com.springboot.bookstore.bean.Book">
		update book set
		author=#{author},press=#{press},price=#{price},discount=#{discount},rdate=#{rdate},type=#{type}
		where name=#{name}
	</update>

	<update id="updBookPath"
		parameterType="com.springboot.bookstore.bean.Book">
		update book set path=#{path} where name=#{name}
	</update>
</mapper>