<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>注册</title>
<link rel="stylesheet" href="bootstrap.min.css"/>
<script src="jquery-3.2.1.js"></script>
<script src="bootstrap.min.js"></script>
<style>
body {
	background-color: rgb(240, 242, 245);
}
</style>
</head>
<body>
	<div style="position: relative; top: 15%">

		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>

		</div>

		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>

		</div>
	</div>
	<div class="col-xs-6 col-md-offset-3"
		style="position: relative; top: 25%">
		<div class="panel panel-primary ">
		<form action="/register.action" method="post">
			<div class="panel-heading">
				<h3 class="panel-title">注册</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="id">用户名</label> <input type="text" class="form-control"
						id="realname" placeholder="请输入用户名" name="realname" />
				</div>
				<div class="form-group">
					<label for="passwd">昵称</label> <input type="text"
						class="form-control" id="nickname" placeholder="请输入昵称"
						name="nickname" />
				</div>
				<div class="form-group">
					<label for="passwd">密码</label> <input type="password"
						class="form-control" id="passwd" placeholder="请输入密码"
						name="password" />
				</div>
				<div class="form-group">
					<label for="passwd">邮箱</label> <input type="text"
						class="form-control" id="mailbox" placeholder="请输入邮箱"
						name="mailbox" />
				</div>
				<div class="form-group">
					<label for="passwd">地址</label> <input type="text"
						class="form-control" id="address" placeholder="请输入地址"
						name="address" />
				</div>
				<p style="text-align: right; color: red; position: absolute"
					id="info"></p>
				<br />
				<button type="submit" id="registerButton"
					class="btn btn-primary  btn-block">注册</button>					
			</div>
			</form>
		</div>
	</div>
</body>
</html>